body {
  background: #f4f6f9;
  font-family: Arial;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.summary {
  display: flex;
  gap: 20px;
}

.small {
  flex: 1;
  text-align: center;
}

button {
  padding: 6px 12px;
  margin: 3px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.green { background: #28a745; color: white; }
.orange { background: #ff9800; color: white; }
.red { background: #e53935; color: white; }

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
td{
  text-align: center;
}
